@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: purple;
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding:0 12px;
    font-family: 'Belanosima', sans-serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}
.info{
    font-size: 20px;
}
.box{
    border: 2px solid pink;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    background-color: pink;
    cursor: pointer;
}
.gameinfo{
    padding: 0 34px;
}
.imgbox img{
    /* display: none; */
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
border-bottom: 0;
}
#reset{
    margin: 0 23px;
    padding: 1px 18px;
    background: pink;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 20px;
    border: none;
}
#reset:hover{
    color: black;
    background-color: #f20bc0;
}

/* media queries */

@media screen and (max-width: 800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;
    }
}